:root {
  --clr-primary: #daa520;
  --clr-primary-dark: rgb(192, 147, 31);
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row+.form-row {
  margin-top: 1em;
}

label {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 .2em .2em;
}

input::placeholder {
  color: #f5f5f5c4;
}

input,
select,
option {
  height: 3rem;
  font-size: 1.25rem;
  line-height: 110%;
  padding: .5em .8em;
  background: rgba(231, 232, 232, .5);
  color: #f5f5f5;
  border-radius: .5em;
  border: none;
  transition: all 150ms ease-out;
}

input:hover,
input:focus,
select:hover,
select:focus {
  box-shadow: 0 0 .8em rgba(51, 51, 51, 1);
}

input:focus,
select:focus {
  outline: none;
  border: 4px solid var(--clr-primary);
  height: calc(3rem + 8px);
}

.asterisk {
  color: var(--clr-primary);
  font-size: 1rem;
  font-weight: 700;
  margin-left: .2em;

}

.select-custom {
  position: relative;
  width: 100%;
}

select {
  appearance: none;
  width: 100%;
  overflow: hidden;
}

.custom-arrow {
  position: absolute;
  display: block;
  width: 4em;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: .65;
}

.custom-arrow::after,
.custom-arrow::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
}

.custom-arrow::before {
  border: 1em solid transparent;
  border-top-color: #f5f5f5;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

<<<<<<< HEAD
option {
  color: #000;
}

=======
>>>>>>> 9635572fbb05d79a49855ef8a2c851dd865105ac
.submit-button {
  cursor: pointer;
  height: auto;
  width: 60%;
  padding: .8em;
  margin: 1em auto .5em;
  margin-top: 1em;
  background: var(--clr-primary);
  border: none;
  border-radius: 1em;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 150ms ease-out;
}

.submit-button:hover {
  transform: translateY(-1px);
  background: var(--clr-primary-dark);
  box-shadow: none;
}