@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

:root {
  --clr-primary: #DDAA46;
  --clr-primary-dark: rgb(192, 147, 31);
  --clr-success: #6FCF97;
}

#bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, .75);
  background-image: url(assets/imgs/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  z-index: -1;
}

.App {
  background: linear-gradient(to bottom right, rgba(51, 51, 51, .25), rgba(151, 151, 151, .5));
  color: #f5f5f5;
  max-width: 960px;
  width: 80%;
  padding: 2em 5em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  box-shadow: .5em .3em 0 goldenrod;
  border-radius: 2em;
}

.title {
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  width: 80%;
  margin: auto;
  margin-bottom: .5em;
  word-spacing: .1em;
}

.title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 2px;
  background: var(--clr-primary);
  border-radius: 5em;
}

.success-message {
  overflow: hidden;
  font-family: 'Open Sans';
  width: 80%;
  margin: 1em auto .5em;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 1px 0px 0 rgba(51, 51, 51, .5),
    1px 1px 0 rgba(51, 51, 51, .5),
    0px 1px 0 rgba(51, 51, 51, .5);
}

.success-message__success {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--clr-success);
  text-shadow: 1px 0px 0 rgba(51, 51, 51, .5),
    1px 1px 0 rgba(51, 51, 51, .5),
    0px 1px 0 rgba(51, 51, 51, .5);
}

.fa-laugh {
  color: var(--clr-success);
  margin-right: .35em;
  font-size: 1.85rem;
}

.success-message__thanks {
  font-size: 1.5rem;
  color: #f5f5f5;
}